// app global css in Stylus form
@font-face
  font-family dana
  font-style normal
  font-weight bold
  src url('fonts/dana-bold.ttf')

@font-face
  font-family dana
  font-style normal
  font-weight 300
  src url('fonts/dana-regular.ttf')

@font-face
  font-family dana
  font-style normal
  font-weight normal
  src url('fonts/dana-medium.ttf')
